{"name":"T1-Tunnel","slug":"t1tunnel","version":"1.0.0","orientation":"portrait","icon":"./assets/images/icon.png","scheme":"t1tunnel","userInterfaceStyle":"automatic","newArchEnabled":true,"splash":{"image":"./assets/images/icon.png","resizeMode":"contain","backgroundColor":"#080C14"},"ios":{"supportsTablet":false,"bundleIdentifier":"com.t1tunnel.app"},"android":{"package":"com.t1tunnel.app"},"web":{"favicon":"./assets/images/icon.png"},"plugins":[["expo-router",{"origin":"https://replit.com/"}],"expo-font","expo-web-browser"],"experiments":{"typedRoutes":true,"reactCompiler":true},"extra":{"eas":{"projectId":"d36860b5-5e61-404f-affd-b642d16e1606"},"router":{"origin":"https://replit.com/"}},"owner":"techmecs-team","sdkVersion":"54.0.0","platforms":["ios","android","web"]}